<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор формы регистрации</title>
</head>
<body>
    <h1> "Выберите форму регистрации" </h1>
    <ul>
        <li> <h2>
                    "Форма html"
                    <a href="html/"> "HTML" </a>
             </h2>
        </li>
        <li> <h2>
                    "Форма Django"
                    <a href="django/"> "Django" </a>
             </h2>
        </li>
    </ul>
<form action="http://127.0.0.1:8000/">
            <a href="http://127.0.0.1:8000/"> <button> Вернуться обратно </button> </a>
</form>
</body>
</html>