<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
    <title> {% block title %} Главная страница {% endblock %} </title>
    <link rel='stylesheet' type="text/css" href='{% static "style.css" %}'>
</head>
<body>
    <h1> "Домашние задания модуля 18:" </h1>

    <ul>
        <li> <h2>
                    "Домашнее задание по теме "Базовые HTML тэги в шаблонах"
                    <a href="platform3/"> "Задание 18-3, приложение Task3" </a>
             </h2>
        </li>
        <li> <h2>
                    "Домашнее задание по теме "DTL. Теги, наследование."
                    <a href="platform4/"> "Задание 18-4, приложение Task4" </a>
             </h2>
        </li>
        <li> <h2>
                    "Домашнее задание по теме "Формы отправки данных. HTML и Django формы."
                    <a href="platform5/"> "Задание 18-5, приложение Task5" </a>
             </h2>
        </li>
    </ul>
</body>
</html>