<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игры</title>
</head>
<body>
<h1>Игры</h1>
<ul>
    <li>Atomic Heart <button>Купить</button> </li>
    <li>Cyberpunk <button>Купить</button> </li>
    <li>PayDay2 <button>Купить</button> </li>
</ul>
<form action="http://127.0.0.1:8000/platform/cart/">
            <a href="http://127.0.0.1:8000/platform/cart"> <button> Перейти в корзину </button> </a>
</form>
<form action="http://127.0.0.1:8000/platform/">
            <a href="http://127.0.0.1:8000/platform/"> <button> Перейти на игровую платформу </button> </a>
</form>
</body>
</html>