<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Игровая платформа"</title>
</head>
<body>
    <h1>Главная страница</h1>
    <ul>
        <li>
            <h2>Главная страница
                <a href="#">Заглушка</a>
            </h2>
        </li>

        <li>
            <h2>Магазин
                <a href="games3/">Открыть</a>
            </h2>
        </li>

        <li>
            <h2>Корзина
                <a href="cart3/">Открыть</a>
            </h2>
        </li>
    </ul>

<form action="http://127.0.0.1:8000/">
            <a href="http://127.0.0.1:8000/"> <button> Вернуться обратно </button> </a>
</form>

</body>
</html>